<div class="main">
    
<div class="header slide-up">
  <div>
<h1>Uh-oh!</h1>
<p>Something went wrong! You weren't able to devour that burger for some reason...<br>
 {{error}}</p>
  <button class="eat-button" id="reset" style="text-align: center;"><div class="text">Reset Application</div></button>
  </div>
</div>

</div>
